@use '../../style/core.scss' as core;
@use '../../style/breakpoint.scss' as breakpoint;
@use '../../style/typography.scss' as typography;
@use '../../style/color.scss' as color;

.button {
    @include typography.regular7;
    
    background-color: color.$manual-red;
    border: none;
    color: color.$white;
    cursor: pointer;
    margin-top: core.$space4;
    outline: none;
    padding: core.$space2 core.$space3;
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;

    &.secondary {
        background-color: color.$primary-color;
        color: color.$text-green;
    }

    &.disabled {
        background-color: color.$disabled-color;
        color: color.$white;
        cursor: not-allowed;
    }
}