@use '../../style/color.scss' as color;
@use '../../style/core.scss' as core;

.componentWrapper {
    background: color.$primary-color;
    position: absolute;
}

.component {
    padding-top: core.$space3 ;
}